<div><h6><a href='/logout'>Logout</a></h6></div>
<div><h6 data-target="modal1"><a href="#">Profile Info</a></h6></div>
<h4>Welcome, <%=@current_user.user_name%>!</h4>
<!-- <p>Find me in app/views/sessions/home.html.erb</p> -->
<!-- <h2>YOU DID IT </h2> -->
<div class="row">

    <div class="col s6">
    <span class="card-title">Your Reviews</span>
      <ul class="collapsible popout" data-collapsible="expanable">
        <li>
          <div class="collapsible-header"><p>Your Article title<i class="material-icons right">more_vert</i></p></div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>

        <li>
          <div class="collapsible-header"><p>Liked Article<i class="material-icons right">more_vert</i></p></div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
      </ul>
    </div>

    <div class="col s6">
    <span class="card-title">Reviews you've liked!</span>
      <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><p>Your Article title<i class="material-icons right">more_vert</i></p></div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><span class="badge">1</span><i class="material-icons">place</i>Second</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
      </ul>
    </div>
  </div>

  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content left">
      <h5>Profile Info</h5>
      <p>Username: <%=@current_user.user_name%></p>
      <p>Email: <%=@current_user.email%></p>
    </div>

    <div class="modal-content left">
      <h5>Edit Users Info Form???</h5>
      <p>Username</p>
      <p>Email</p>
      <p>Password</p>
      <button class="btn waves-effect waves-light #64b5f6 blue lighten-2" type="submit" name="action">Submit?</button>
    </div>

</div> <!-- ROW -->

