  <nav>
    <div class="nav-wrapper #42a5f5 blue lighten-1">
      <a href="http://localhost:3000/reviews"><%= image_tag("retrospeck_neg.png", class:"logo") %></a><a href="http://localhost:3000/" class="brand-logo">Retrospeck</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="http://localhost:3000/reviews">Home</a></li>
        <li><a href="/reviews/new">Write a Review</a></li>
        <li><a href="/home">My Account</a></li>
      </ul>
      <ul class="side-nav #64b5f6 blue lighten-2" id="mobile-demo">
        <li><a class="grey-text text-lighten-4" href="http://localhost:3000/reviews">Home</a></li>
        <li><a class="grey-text text-lighten-4" href="/reviews/new">Write a Review</a></li>
        <li><a class="grey-text text-lighten-4" href="/home">My Account</a></li>
      </ul>
    </div>
  </nav>
